# dependencies
node_modules

# next
.next
out

# build
dist
build

# logs
*.log

# env
.env
.env.local
.env.*.local

# mac
.DS_Store

# vscode
.vscode

# turbo
.turbo

# coverage
coverage

# uploads
uploads